{
    "openapi": "3.0.0",
    "info": {
      "title": "Public API (V1)",
      "description": "These endpoints are for our commercial public API",
      "version": "0.0.1"
    },
    "servers": [
      {
        "url": "https://api.pipelinegeneration.ai/api:v1"
      }
    ],
    "components": {
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "JWT"
        }
      },
      "schemas": {
  
      }
    },
    "paths": {
      "/company/{id}/contacts": {
        "post": {
          "summary": "Retrieve technologies used by a company",
          "description": "Retrieve technologies used by a company\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
          "tags": [
            "company"
          ],
          "security": [],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "company_id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success!",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
  
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Input Error. Check the request payload for issues."
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Access denied. Additional privileges are needed access the requested resource."
            },
            "404": {
              "description": "Not Found. The requested resource does not exist."
            },
            "429": {
              "description": "Rate Limited. Too many requests."
            },
            "500": {
              "description": "Unexpected error"
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Description: Page number for pagination\nValid Range: Must be ≥ 1\nDefault: 1 (first page)",
                      "default": "1"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Description: Number of technologies to return per page\nValid Range: 1 to 1000\nDefault: 100",
                      "default": "100"
                    },
                    "name": {
                      "type": "string",
                      "description": "Description: Search term to filter contacts by full name\nDefault: null\nExample: \"john smith\"",
                      "nullable": true
                    },
                    "job_title": {
                      "type": "string",
                      "description": "Description: Search term to filter contacts by their current job title\nDefault: null\nExample: \"chief technology officer\"",
                      "nullable": true
                    },
                    "location": {
                      "type": "string",
                      "description": "Description: Search term to filter contacts by their location\nDefault: null\nExample: \"london\"",
                      "nullable": true
                    },
                    "country_code": {
                      "type": "string",
                      "description": "Description: ISO country code to filter contacts by country\nValid Format: ISO 3166-1 alpha-2 country codes\nDefault: null\nExample: \"US\"",
                      "nullable": true
                    },
                    "linkedin_url": {
                      "type": "string",
                      "description": "Description: LinkedIn URL or profile identifier for exact contact matching\nDefault: null\nExample: \"https://linkedin.com/in/johnsmith\"",
                      "nullable": true
                    }
                  }
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Description: Page number for pagination\nValid Range: Must be ≥ 1\nDefault: 1 (first page)",
                      "default": "1"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Description: Number of technologies to return per page\nValid Range: 1 to 1000\nDefault: 100",
                      "default": "100"
                    },
                    "name": {
                      "type": "string",
                      "description": "Description: Search term to filter contacts by full name\nDefault: null\nExample: \"john smith\"",
                      "nullable": true
                    },
                    "job_title": {
                      "type": "string",
                      "description": "Description: Search term to filter contacts by their current job title\nDefault: null\nExample: \"chief technology officer\"",
                      "nullable": true
                    },
                    "location": {
                      "type": "string",
                      "description": "Description: Search term to filter contacts by their location\nDefault: null\nExample: \"london\"",
                      "nullable": true
                    },
                    "country_code": {
                      "type": "string",
                      "description": "Description: ISO country code to filter contacts by country\nValid Format: ISO 3166-1 alpha-2 country codes\nDefault: null\nExample: \"US\"",
                      "nullable": true
                    },
                    "linkedin_url": {
                      "type": "string",
                      "description": "Description: LinkedIn URL or profile identifier for exact contact matching\nDefault: null\nExample: \"https://linkedin.com/in/johnsmith\"",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/company/{id}/profile": {
        "get": {
          "summary": "Retrieve a customizable company profile",
          "description": "Retrieve a customizable company profile\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
          "tags": [
            "company"
          ],
          "security": [],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "company id",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "include",
              "in": "query",
              "description": "Comma-separated list of additional data sections to include in the response.\\n\\n**Available sections:**\\n- overview - Company vision and business model\\n- key_executives - Leadership team and key personnel\\n- divisions - Business divisions with financial performance\\n- geographical_operations - Geographic presence and operations\\n- swot_analysis - Strengths, weaknesses, opportunities, threats\\n- competitors - Competitive landscape and market position\\n- industry_insights - Industry trends and market intelligence\\n- strategic_priorities - Company's strategic priorities and focus areas\\n- digital_strategies - Digital transformation and technology strategies\\n- risks - Business risks and challenges\\n- goals - Company goals and objectives\\n- insights_scores - Territory and capability scores\\n- events - Corporate events and announcements\\n- value_pyramid - Value proposition framework\\n- three_whys - Three whys analysis framework\\n- discovery_questions - Discovery and qualification questions\\n- how_they_make_money - Revenue streams and business model\\n- how_they_lose_money - Cost structure and expense categories\\n\\n**Examples:**\\n- strategic_priorities,goals,risks\\n- swot_analysis,competitors,industry_insights\\n- key_executives,divisions,overview",
              "required": false,
              "schema": {
                "type": "string",
                "default": ""
              }
            },
            {
              "name": "sources",
              "in": "query",
              "description": "boolean: true or false",
              "required": false,
              "schema": {
                "type": "string",
                "default": "false"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success!",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "description": ""
                  }
                }
              }
            },
            "400": {
              "description": "Input Error. Check the request payload for issues."
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Access denied. Additional privileges are needed access the requested resource."
            },
            "404": {
              "description": "Not Found. The requested resource does not exist."
            },
            "429": {
              "description": "Rate Limited. Too many requests."
            },
            "500": {
              "description": "Unexpected error"
            }
          }
        }
      },
      "/company/{id}/technologies": {
        "post": {
          "summary": "Retrieve technologies used by a company",
          "description": "Retrieve technologies used by a company\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
          "tags": [
            "company"
          ],
          "security": [],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Description: Unique identifier of the company whose technologies you want to retrieve\nValid Value: Must be a valid UUID format",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success!",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
  
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Input Error. Check the request payload for issues."
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Access denied. Additional privileges are needed access the requested resource."
            },
            "404": {
              "description": "Not Found. The requested resource does not exist."
            },
            "429": {
              "description": "Rate Limited. Too many requests."
            },
            "500": {
              "description": "Unexpected error"
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "confidence": {
                      "type": "string",
                      "description": "Description: Filter technologies by confidence level.\nValid Values: low, medium, high\nDefault: All confidence levels"
                    },
                    "category": {
                      "type": "string",
                      "description": "Description: Filter technologies by their category classification\nValid Values: One of 22 predefined categories (case-sensitive)"
                    },
                    "favourites": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Description: Page number for pagination\nValid Range: Must be ≥ 1\nDefault: 1 (first page)",
                      "default": "1"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Description: Number of technologies to return per page\nValid Range: 1 to 1000\nDefault: 100",
                      "default": "100"
                    }
                  }
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "confidence": {
                      "type": "string",
                      "description": "Description: Filter technologies by confidence level.\nValid Values: low, medium, high\nDefault: All confidence levels"
                    },
                    "category": {
                      "type": "string",
                      "description": "Description: Filter technologies by their category classification\nValid Values: One of 22 predefined categories (case-sensitive)"
                    },
                    "favourites": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Description: Page number for pagination\nValid Range: Must be ≥ 1\nDefault: 1 (first page)",
                      "default": "1"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Description: Number of technologies to return per page\nValid Range: 1 to 1000\nDefault: 100",
                      "default": "100"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/company/{id}": {
        "get": {
          "summary": "Retrieve a company",
          "description": "Retrieve a company\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
          "tags": [
            "company"
          ],
          "security": [],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success!",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "",
                        "default": "fbfa2d58-7f48-47a0-86fb-8a4314dfc5ce"
                      },
                      "ceo": {
                        "type": "string",
                        "description": "",
                        "default": "Mr. Georges Bahjat  Elhedery"
                      },
                      "city": {
                        "type": "string",
                        "description": "",
                        "default": "london"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "description": ""
                        },
                        "default": [
                          "leasing",
                          "banking",
                          "credit cards",
                          "insurance",
                          "business banking",
                          "investment services",
                          "personal banking",
                          "international finance and banking",
                          "capital markets",
                          "corporate and business banking"
                        ]
                      },
                      "type": {
                        "type": "string",
                        "description": ""
                      },
                      "state": {
                        "type": "string",
                        "description": "",
                        "default": "greater london"
                      },
                      "domain": {
                        "type": "string",
                        "description": "",
                        "default": "hsbc.com"
                      },
                      "fmd_cik": {
                        "type": "string",
                        "description": ""
                      },
                      "fmd_zip": {
                        "type": "string",
                        "description": "",
                        "default": "E14 5HQ"
                      },
                      "summary": {
                        "type": "string",
                        "description": "",
                        "default": "opening up a world of opportunity for our customers, investors, ourselves and the planet.\n\nwe're a financial services organisation that serves more than 40 million customers, ranging from individual savers and investors to some of the world’s biggest companies and governments. our network covers 63 countries and territories, and we’re here to use our unique expertise, capabilities, breadth and perspectives to open up a world of opportunity for our customers. \n\nhsbc is listed on the london, hong kong, new york, and bermuda stock exchanges.\n\nto view our social media terms and conditions please visit the following webpage: http://www.hsbc.com/social-tandcs"
                      },
                      "updated": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "default": 1751239649250
                      },
                      "user_id": {
                        "type": "string",
                        "description": ""
                      },
                      "website": {
                        "type": "string",
                        "description": "",
                        "default": "www.hsbc.com"
                      },
                      "exchange": {
                        "type": "string",
                        "description": "",
                        "default": "London Stock Exchange"
                      },
                      "fmd_city": {
                        "type": "string",
                        "description": "",
                        "default": "London"
                      },
                      "fmd_isin": {
                        "type": "string",
                        "description": "",
                        "default": "GB0005405286"
                      },
                      "in_mongo": {
                        "type": "boolean",
                        "description": "",
                        "default": 1
                      },
                      "logo_url": {
                        "type": "string",
                        "description": "",
                        "default": "https://media.licdn.com/dms/image/v2/D4E0BAQGF7uhTJxFBvQ/img-crop_100/img-crop_100/0/1717419425342?e=1732752000&v=beta&t=lkM_5d3bK2ss7xpnTzI4YrTlIKzpgViQJuzUo08FcPo"
                      },
                      "pdl_type": {
                        "type": "string",
                        "description": "",
                        "default": "public"
                      },
                      "fmd_cusip": {
                        "type": "string",
                        "description": ""
                      },
                      "fmd_state": {
                        "type": "string",
                        "description": ""
                      },
                      "quartr_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "default": 3821
                      },
                      "created_at": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "default": 1727859375939
                      },
                      "fmd_sector": {
                        "type": "string",
                        "description": "",
                        "default": "Financial Services"
                      },
                      "fmd_symbol": {
                        "type": "string",
                        "description": "",
                        "default": "HSBA.L"
                      },
                      "market_cap": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "default": 147234596100
                      },
                      "description": {
                        "type": "string",
                        "description": ""
                      },
                      "fmd_address": {
                        "type": "string",
                        "description": "",
                        "default": "8 Canada Square"
                      },
                      "linkedin_id": {
                        "type": "string",
                        "description": ""
                      },
                      "mdb_updated": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "default": 1751239649250
                      },
                      "company_name": {
                        "type": "string",
                        "description": "",
                        "default": "HSBC"
                      },
                      "fmd_currency": {
                        "type": "string",
                        "description": "",
                        "default": "GBp"
                      },
                      "fmd_industry": {
                        "type": "string",
                        "description": "",
                        "default": "Banks - Diversified"
                      },
                      "linkedin_url": {
                        "type": "string",
                        "description": "",
                        "default": "linkedin.com/company/hsbc"
                      },
                      "stock_ticker": {
                        "type": "string",
                        "description": "",
                        "default": "HSBA"
                      },
                      "got_tech_stack": {
                        "type": "boolean",
                        "description": ""
                      },
                      "privatelyadded": {
                        "type": "boolean",
                        "description": ""
                      },
                      "public_company": {
                        "type": "boolean",
                        "description": "",
                        "default": 1
                      },
                      "fmd_description": {
                        "type": "string",
                        "description": "",
                        "default": "HSBC Holdings plc provides banking and financial services worldwide. The company operates through Wealth and Personal Banking, Commercial Banking, and Global Banking and Markets segments. The Wealth and Personal Banking segment offers retail banking and wealth products, including current and savings accounts, mortgages and personal loans, credit and debit cards, and local and international payment services; and wealth management services comprising insurance and investment products, global asset management services, investment management, and private wealth solutions. This segment serves personal banking and high net worth individuals. The Commercial Banking segment provides credit and lending, treasury management, payment, cash management, commercial insurance, and investment services; commercial cards; international trade and receivables finance services; foreign exchange products; capital raising services on debt and equity markets; and advisory services. It serves small and medium sized enterprises, mid-market enterprises, and corporates. The Global Banking and Markets segment offers financing, advisory, and transaction services; and credit, rates, foreign exchange, equities, money markets, and securities services; and engages in principal investment activities. It serves government, corporate and institutional clients, and private investors. HSBC Holdings plc was founded in 1865 and is headquartered in London, the United Kingdom."
                      },
                      "ref_revenues_id": {
                        "type": "string",
                        "description": "",
                        "default": "c8cb6460-16ed-4e7c-b6e2-4ef2186ba241"
                      },
                      "iso_country_code": {
                        "type": "string",
                        "description": "",
                        "default": "GB"
                      },
                      "organisations_id": {
                        "type": "string",
                        "description": ""
                      },
                      "ref_countries_id": {
                        "type": "string",
                        "description": "",
                        "default": "dad78b10-81a6-4a0c-897c-cc92733dc472"
                      },
                      "webscrape_status": {
                        "type": "string",
                        "description": "",
                        "default": "Completed"
                      },
                      "alternative_names": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "description": ""
                        },
                        "default": [
                          "hsbc global banking and markets",
                          "hsbc retail banking and wealth management",
                          "hsbc commercial banking",
                          "hsbc private bank",
                          "汇丰",
                          "hsbc private banking",
                          "hsbc global technology india",
                          "hsbc mexico",
                          "hsbc card services",
                          "香港匯豐銀行"
                        ]
                      },
                      "exchangeShortName": {
                        "type": "string",
                        "description": "",
                        "default": "LSE"
                      },
                      "ref_industries_id": {
                        "type": "string",
                        "description": "",
                        "default": "b863aca8-8837-4880-bb99-a669459e6151"
                      },
                      "alternative_domains": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "description": ""
                        }
                      },
                      "fmd_full_time_employees": {
                        "type": "integer",
                        "format": "int64",
                        "description": "",
                        "default": 211304
                      },
                      "ref_employee_size_categories_id": {
                        "type": "string",
                        "description": "",
                        "default": "67011fdf-9421-47e0-8cb0-92521ca18b13"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Input Error. Check the request payload for issues."
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Access denied. Additional privileges are needed access the requested resource."
            },
            "404": {
              "description": "Not Found. The requested resource does not exist."
            },
            "429": {
              "description": "Rate Limited. Too many requests."
            },
            "500": {
              "description": "Unexpected error"
            }
          }
        }
      },
      "/contact/{id}": {
        "post": {
          "summary": "Retrieve a single contact using the contact id",
          "description": "Retrieve a single contact using the contact id\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
          "tags": [
            "contact"
          ],
          "security": [],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Description: Unique identifier of the company whose data you want to retrieve\nValid Value: Must be a valid UUID format",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success!",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
  
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Input Error. Check the request payload for issues."
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Access denied. Additional privileges are needed access the requested resource."
            },
            "404": {
              "description": "Not Found. The requested resource does not exist."
            },
            "429": {
              "description": "Rate Limited. Too many requests."
            },
            "500": {
              "description": "Unexpected error"
            }
          }
        }
      },
      "/endpoint_template": {
        "post": {
          "summary": "This is a template that contains the:\n- id input\n- page input\n- per _page input\n- Data Access Check - Live\n- Data Access Check - editor",
          "description": "This is a template that contains the:\n- id input\n- page input\n- per _page input\n- Data Access Check - Live\n- Data Access Check - editor\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
          "tags": [
            "endpoint_template"
          ],
          "security": [],
          "parameters": [],
          "responses": {
            "200": {
              "description": "Success!",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
  
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Input Error. Check the request payload for issues."
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Access denied. Additional privileges are needed access the requested resource."
            },
            "404": {
              "description": "Not Found. The requested resource does not exist."
            },
            "429": {
              "description": "Rate Limited. Too many requests."
            },
            "500": {
              "description": "Unexpected error"
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Description: Unique identifier of the company whose data you want to retrieve\nValid Value: Must be a valid UUID format"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Description: Page number for pagination\nValid Range: Must be ≥ 1\nDefault: 1 (first page)",
                      "default": "1"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "Description: Number of technologies to return per page\nValid Range: 1 to 1000\nDefault: 100"
                    }
                  }
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Description: Unique identifier of the company whose data you want to retrieve\nValid Value: Must be a valid UUID format"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Description: Page number for pagination\nValid Range: Must be ≥ 1\nDefault: 1 (first page)",
                      "default": "1"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "Description: Number of technologies to return per page\nValid Range: 1 to 1000\nDefault: 100"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/reference/countries": {
        "get": {
          "summary": "Retrieve the list of countries and regions",
          "description": "Retrieve the list of countries and regions\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
          "tags": [
            "reference"
          ],
          "security": [],
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "description": "Description: Page number for pagination\nValid Range: Must be ≥ 1\nDefault: 1 (first page)",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": "1"
              }
            },
            {
              "name": "per_page",
              "in": "query",
              "description": "Description: Number of technologies to return per page\nValid Range: 1 to 1000\nDefault: 100",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": "100"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success!",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
  
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Input Error. Check the request payload for issues."
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Access denied. Additional privileges are needed access the requested resource."
            },
            "404": {
              "description": "Not Found. The requested resource does not exist."
            },
            "429": {
              "description": "Rate Limited. Too many requests."
            },
            "500": {
              "description": "Unexpected error"
            }
          }
        }
      },
      "/reference/employee-sizes": {
        "get": {
          "summary": "Retrieve the list of employee size categories",
          "description": "Retrieve the list of employee size categories\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
          "tags": [
            "reference"
          ],
          "security": [],
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "description": "Description: Page number for pagination\nValid Range: Must be ≥ 1\nDefault: 1 (first page)",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": "1"
              }
            },
            {
              "name": "per_page",
              "in": "query",
              "description": "Description: Number of technologies to return per page\nValid Range: 1 to 1000\nDefault: 100",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": "25"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success!",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
  
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Input Error. Check the request payload for issues."
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Access denied. Additional privileges are needed access the requested resource."
            },
            "404": {
              "description": "Not Found. The requested resource does not exist."
            },
            "429": {
              "description": "Rate Limited. Too many requests."
            },
            "500": {
              "description": "Unexpected error"
            }
          }
        }
      },
      "/reference/industries": {
        "get": {
          "summary": "Retrieve the list of industry classifications",
          "description": "Retrieve the list of industry classifications\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
          "tags": [
            "reference"
          ],
          "security": [],
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "description": "Description: Page number for pagination\nValid Range: Must be ≥ 1\nDefault: 1 (first page)",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": "1"
              }
            },
            {
              "name": "per_page",
              "in": "query",
              "description": "Description: Number of technologies to return per page\nValid Range: 1 to 1000\nDefault: 100",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": "100"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success!",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
  
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Input Error. Check the request payload for issues."
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Access denied. Additional privileges are needed access the requested resource."
            },
            "404": {
              "description": "Not Found. The requested resource does not exist."
            },
            "429": {
              "description": "Rate Limited. Too many requests."
            },
            "500": {
              "description": "Unexpected error"
            }
          }
        }
      },
      "/reference/personas": {
        "get": {
          "summary": "Retrieve the list of personas",
          "description": "Retrieve the list of personas\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
          "tags": [
            "reference"
          ],
          "security": [],
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "description": "Description: Page number for pagination\nValid Range: Must be ≥ 1\nDefault: 1 (first page)",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": "1"
              }
            },
            {
              "name": "per_page",
              "in": "query",
              "description": "Description: Number of technologies to return per page\nValid Range: 1 to 1000\nDefault: 100",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": "25"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success!",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
  
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Input Error. Check the request payload for issues."
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Access denied. Additional privileges are needed access the requested resource."
            },
            "404": {
              "description": "Not Found. The requested resource does not exist."
            },
            "429": {
              "description": "Rate Limited. Too many requests."
            },
            "500": {
              "description": "Unexpected error"
            }
          }
        }
      },
      "/reference/revenues": {
        "get": {
          "summary": "Retrieve the list of revenue range categories",
          "description": "Retrieve the list of revenue range categories\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
          "tags": [
            "reference"
          ],
          "security": [],
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "description": "Description: Page number for pagination\nValid Range: Must be ≥ 1\nDefault: 1 (first page)",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": "1"
              }
            },
            {
              "name": "per_page",
              "in": "query",
              "description": "Description: Number of technologies to return per page\nValid Range: 1 to 1000\nDefault: 100",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": "25"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success!",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
  
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Input Error. Check the request payload for issues."
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Access denied. Additional privileges are needed access the requested resource."
            },
            "404": {
              "description": "Not Found. The requested resource does not exist."
            },
            "429": {
              "description": "Rate Limited. Too many requests."
            },
            "500": {
              "description": "Unexpected error"
            }
          }
        }
      },
      "/reference/technologies": {
        "get": {
          "summary": "Retrieve the list of tracked technologies",
          "description": "Retrieve the list of tracked technologies\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
          "tags": [
            "reference"
          ],
          "security": [],
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "description": "Description: Page number for pagination\nValid Range: Must be ≥ 1\nDefault: 1 (first page)",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": "1"
              }
            },
            {
              "name": "per_page",
              "in": "query",
              "description": "Description: Number of technologies to return per page\nValid Range: 1 to 1000\nDefault: 100",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": "25"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success!",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
  
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Input Error. Check the request payload for issues."
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Access denied. Additional privileges are needed access the requested resource."
            },
            "404": {
              "description": "Not Found. The requested resource does not exist."
            },
            "429": {
              "description": "Rate Limited. Too many requests."
            },
            "500": {
              "description": "Unexpected error"
            }
          }
        }
      }
    }
  }